/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css */
@layer utilities {
    .underline-offset {
      text-decoration: underline;
      text-underline-offset: 0.2em; /* Adjust the offset value as needed */
    }
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }

  /* styles.css or in a <style> tag */
.custom-header .p-datatable-thead > tr > th {
background: linear-gradient(#5CBE8F,#3AB4BC);
  color: white; /* Set text color to white for contrast */
}

  
  @keyframes circleAnimation {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      width: 100px; /* Adjust the size of the circle as needed */
      height: 100px; /* Adjust the size of the circle as needed */
      opacity: 0;
    }
  }
  .custom-date-picker {
    width: 100%; /* Full width */
    height: 45px;
    border-radius: 15px;
  }
  
  .custom-date-picker input {
    width: 100%; /* Ensure the input inside the date picker takes full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
/* Example with increased specificity */
body.custom-scrollbar::-webkit-scrollbar {
  display: none !important;
}
/* In your Message.css or in a <style> block */
.custom-header .p-datatable-thead > tr > th {
  padding-left: 16px; /* Adjust as needed */
  padding-right: 16px; /* Adjust as needed */
  text-align: left; /* Ensure alignment matches data cells */
  padding-top: 8px;
  padding-bottom: 8px;
}

.custom-header .p-datatable-tbody > tr > td {
  padding-left: 16px; /* Adjust to match header padding */
  padding-right: 16px; /* Adjust to match header padding */
  padding-top: 8px;
  padding-bottom: 8px;
}


  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .col-white{
    color:#fff;
  }

  @keyframes slideInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutDown {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .notification-item {
    transition: transform 0.3s ease-in-out; /* Example transition for sliding animation */
    
  }
  
  .notification-item:hover {
    transform: translateX(10px); /* Adjust the translation distance as needed */
  }

  @keyframes slideOutLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  .slide-out-left {
    animation: slideOutLeft 0.3s ease forwards;
  }
  /* In your CSS or Tailwind CSS file */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

  
  .slide-in-down {
    animation: slideInDown 0.3s ease forwards;
  }
  
  .slide-out-down {
    animation: slideOutDown 0.3s ease forwards;
  }
  
  .truncate-text {
    max-width:175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  Hide the default scrollbar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Hide the default scrollbar */
body {
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Webkit (Chrome, Safari, Edge) */
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5CBE8F;
}

  
.active-link {
  font-weight: bold; /* Example style for active link */
  color: #5CBE8F; /* Example color for active link */
}

.active-link::after {
  content: '';
  display: block;
  margin-top: 5px; /* Adjust as needed for the gap */
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: #5CBE8F;
}
/* Messages.css */
.message-details-transition {
  opacity: 1;
  transition: opacity 0.3s ease; /* Define the transition property */
}

.message-details-transition.hide {
  opacity: 0; /* When hiding, set opacity to 0 */
}

/* Custom CSS */
.video-react .video-react-big-play-button {
  background-color: #5CBE8F; /* Change to your desired background color */
  color: white; /* Change to your desired text color */
}

.carousel-container {
  position: relative;
}

.carousel .alice-carousel__prev-btn,
.carousel .alice-carousel__next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5); /* Optional: Add background color */
  padding: 5px; /* Optional: Add padding */
}

.checkbox:checked + .checkmark {
  background-color: #4CAF50;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  border: 1px solid #ccc;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox:checked + .checkmark:before {
  content: '';
  position: absolute;
  height: 0.5rem;
  width: 1rem;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(120deg);
  top: 20%;
  left: 20%;
  animation: checkmark-animation 0.3s ease;
}

@keyframes checkmark-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.carousel .alice-carousel__prev-btn {
  left: 0;
}
.carousel .alice-carousel__next-btn {
  right: 0;
}
.ticky {
  position: sticky;
  top: 0;
}
.optionicon{
  width: 1.2rem;
  height: 1.2rem;
}
/* Hide the default input box of react-datepicker */
.react-datepicker-wrapper {
  display: inline-block;
  width: 100%;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker-popper {
  display: none !important; /* Hide the date picker popper */
}

/* Style the date display */
.date-display {
  display: inline-block;
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.date-display:hover {
  background-color: #f0f0f0;
}

.custom-input-emoji {
  /* Your custom styles here */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border don't affect width */
}

.portfoliomenu-icons{
  width:2.5rem;
  height:2.5rem;
}

.contain-r:hover .child-r{
 opacity:1;
 transform: translateY(0);
 background-origin: inherit;
}

.delete:hover .child-d{
color: #F85454;
}

.deactivate:hover .child-dt{
  color:orange;
}

.player-container {
  height: 300px;
}
.hide-cursor {
  caret-color: transparent !important;
}
.parent:hover .child {
  background-color: #fff;
}

.parent:hover .child-i{
  color: #B8A7FB;
}

.parent:hover .child-t{
  color: #fff;
}

.weather-bg{
  backgroundSize: cover;
  backgroundPosition:center;
  filter: brightness(100%) sepia(100%) saturate(100%) hue-rotate(60deg);
}

.sunrot{
  animation: rotate 10s linear infinite
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.menu-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
@keyframes custom-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Adjust this value for custom bounce height */
  }
  60% {
    transform: translateY(-10px); /* Adjust this value for custom bounce height */
  }
}

.animate-custom-bounce {
  animation: custom-bounce 0.5s ease infinite; /* Adjust duration and easing as needed */
}


.menu-container.open {
  max-height: 200px; /* Adjust the max-height value as needed */
}

.animate-from-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.animate-from-bottom.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes shootingLines {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 100% 0;
  }
}

.bg-ani {

  animation: shootingLines 10s linear infinite; /* Adjust animation duration and timing as needed */
}

/* MyTimeline.css */

/* Target the title text inside timeline cards */
.chrono__cardTitle {
  color: #212529; /* Your desired title text color */
}

/* Target the subtitle text inside timeline cards */
.chrono__cardSubtitle {
  color: #495057; /* Your desired subtitle text color */
}

/* Heart.css */
.heart {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: inline-block;
}

.heart-shape {
  position: relative;
  width:25px;
  height: 25px;
  background-color: #ccc;
  transform: rotate(-45deg);
  margin: 0 auto;
}

.heart-shape::before,
.heart-shape::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50%;
  top: -25px;
}

.heart-shape::before {
  left: 0;
}

.heart-shape::after {
  left: 25px;
}

.filled .heart-shape {
  background-color: red;
}

.filled .heart-shape::before,
.filled .heart-shape::after {
  background-color: red;
}
/* Add this to your CSS file */
@keyframes likeAnimation {
  0% {
    transform: scale(1);
    color: red;
  }
  50% {
    transform: scale(1.1);
    color: red;
  }
  100% {
    transform: scale(1);
    color: pink;
  }
}

.like-animate {
  animation: likeAnimation 0.3s ease-in-out;
}

.tooltip-container {
  position: relative;
}

.tooltip-container .tooltip {
  position: absolute;
  bottom: 100%; /* Position it above the parent element */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%) translateY(-5px); /* Center it and adjust vertical positioning */
  background-color: white;
  color: black;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: nowrap;
  /* Optional: add transition for smooth height adjustment */
  transition: height 0.2s ease, padding 0.2s ease;
}
