/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css */

@layer utilities {
    .underline-offset {
      text-decoration: underline;
      text-underline-offset: 0.2em; /* Adjust the offset value as needed */
    }
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }
  
  @keyframes circleAnimation {
    0% {
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      width: 100px; /* Adjust the size of the circle as needed */
      height: 100px; /* Adjust the size of the circle as needed */
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .col-white{
    color:#fff;
  }

  @keyframes slideInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutDown {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .notification-item {
    transition: transform 0.3s ease-in-out; /* Example transition for sliding animation */
    
  }
  
  .notification-item:hover {
    transform: translateX(10px); /* Adjust the translation distance as needed */
  }

  @keyframes slideOutLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  .slide-out-left {
    animation: slideOutLeft 0.3s ease forwards;
  }
  /* In your CSS or Tailwind CSS file */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
  
  .slide-in-down {
    animation: slideInDown 0.3s ease forwards;
  }
  
  .slide-out-down {
    animation: slideOutDown 0.3s ease forwards;
  }
  
  .truncate-text {
    max-width:175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  Hide the default scrollbar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5CBE8F;
}

  
.active-link {
  font-weight: bold; /* Example style for active link */
  color: #5CBE8F; /* Example color for active link */
}

.active-link::after {
  content: '';
  display: block;
  margin-top: 5px; /* Adjust as needed for the gap */
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: #5CBE8F;
}

/* Custom CSS */
.video-react .video-react-big-play-button {
  background-color: #5CBE8F; /* Change to your desired background color */
  color: white; /* Change to your desired text color */
}

.carousel-container {
  position: relative;
}

.carousel .alice-carousel__prev-btn,
.carousel .alice-carousel__next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5); /* Optional: Add background color */
  padding: 5px; /* Optional: Add padding */
}

.carousel .alice-carousel__prev-btn {
  left: 0;
}

.carousel .alice-carousel__next-btn {
  right: 0;
}

.custom-input-emoji {
  /* Your custom styles here */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border don't affect width */
}

.portfoliomenu-icons{
  width:2.5rem;
  height:2.5rem;
}

.player-container {
  height: 300px;
}
.parent:hover .child {
  background-color: #fff;
}

.parent:hover .child-i{
  color: #B8A7FB;
}

.parent:hover .child-t{
  color: #fff;
}


.menu-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
@keyframes custom-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Adjust this value for custom bounce height */
  }
  60% {
    transform: translateY(-10px); /* Adjust this value for custom bounce height */
  }
}

.animate-custom-bounce {
  animation: custom-bounce 0.5s ease infinite; /* Adjust duration and easing as needed */
}


.menu-container.open {
  max-height: 200px; /* Adjust the max-height value as needed */
}

.animate-from-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.animate-from-bottom.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes shootingLines {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 100% 0;
  }
}

.bg-ani {

  animation: shootingLines 10s linear infinite; /* Adjust animation duration and timing as needed */
}

/* MyTimeline.css */

/* Target the title text inside timeline cards */
.chrono__cardTitle {
  color: #212529; /* Your desired title text color */
}

/* Target the subtitle text inside timeline cards */
.chrono__cardSubtitle {
  color: #495057; /* Your desired subtitle text color */
}
